body {
    margin: 0;
}

/* Nav Bar */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #4CAF50;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

/* Footer */
.search-text {
    background-color: #272d33;
    padding-top:60px;
    padding-bottom:60px;
}

.search-text .input-search {
    height:45px;
    width:40%;
    padding-left:20px;
    color:#333;
}

.search-text .btn-search {
    background: #3366ff;
    border:none;
    color:#FFF;
    height: 45px;
    width: 80px;
}

.search-text h4 {
    color: #FFF;
    font-weight: 700;
}

footer {
    background-color: #333;
    padding:0px 0px;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.menutxt {
    color: #FFF;
    font-weight: bold;
    border-bottom: 1px solid #c7c7c7;
    padding:10px 0px;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
}

.address li a , .menu li a {
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}

.address li, .menu li {
    margin:20px 0px;
    list-style: none;
}

.address li a:hover , .menu li a:hover {
    color: #3366ff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.address .fa {
    color: #3366ff;
    margin-right: 10px;
    font-size:18px;
}

h1 {
    position: absolute;
    margin: 0;
    font-size: 40px;
    color: #fff;
    z-index: 2;
    line-height: 83px;
}

#container {
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 200px;
}

body, div, form, input, select, textarea, label {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #3366ff;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

/* Account */
.accountdiv {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

/* log in */
.logindiv{
    width: 350px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

/* Sign up */
.signupdiv{
    width: 350px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

/* home page slideshow */
.flexcontainer {
    display:flex;
    flex-wrap: nowrap;
    background-color: #333;
}
.slideshow-container {
    flex-basis: 65%;
}

.slideimg {
    width: 100%;
}